#root {
  padding-bottom: 1000px;
  background-image: url('src/assets/Cassette Lab - Black background.png');
  background-size: 1000px 1000px;
  background-repeat: no-repeat;
  background-position: center;

}